body{
    background-color: black;
    background-image: url("../img/background.jpg");
}
maindiv{
    background-color: rgba(255,255,255,0.65);
    border-radius: 12px;
    backdrop-filter: blur(35px);
    padding: 15px;
    margin: 8px 0 8px 0;
    display: block;
}
button{
    background-color: rgba(255,255,255,0.65);
    border-radius: 5px;
    backdrop-filter: blur(35px);
    padding: 0 18px 0 18px;
    border: none;
}
.YIN_input{
    background-color: rgba(255,255,255,0.65);
    border-radius: 5px;
    backdrop-filter: blur(35px);
    padding: 0 18px 0 18px;
    border: none;
    outline:none;
}